In [1]:
#importing neccesary libraries
import numpy as np
import pandas as pd

In [2]:
#loading our dataset
data=pd.read_csv('SMSSpam',sep='\t',names=["label","message"])

###  Getting basic insights about the data

In [3]:
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.tail()

     label                                            message
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [5]:
data.shape

(5572, 2)

In [6]:
#our data has no null values 
data.isnull().sum()

label      0
message    0
dtype: int64

###  Importing libraries for natural language processing

In [12]:

import re  #regular expression
import nltk #natural language toolkit
from nltk.corpus import stopwords# it is used have the words which doesnt give meaning to our sentence
from nltk.stem import WordNetLemmatizer#

In [9]:
data['message']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [16]:
lem=WordNetLemmatizer()#creating object for the lemmatization
finall=[]
for i in range(0,len(data)):
    review=re.sub('[^a-zA-Z]',' ',data['message'][i])#remove the symbols in the text
    review=review.lower()#used to convert it into lower case
    review=review.split()#used to split string into list
    
    review=[lem.lemmatize(word) for word in review if not word in stopwords.words('english')]#used to lemmatize the word which are not in the 
    review=" ".join(review) #joinning the words
    finall.append(review) #words appended

In [21]:
#converting into bag of word with max feature
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1500)#limitting the features size to 1500
x=cv.fit_transform(finall).toarray()#creating indpendent variable
#creating the dependent variable
y=pd.get_dummies(data['label'])
y=y.iloc[:,1].values

In [25]:
#spliting train set and test set
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=0)

In [29]:
#trainning the dataset using the logistic regression model
from sklearn.linear_model import LogisticRegression
cls=LogisticRegression()
model=cls.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [35]:
#getting the accuracy score and the confusion matrix
from sklearn.metrics import accuracy_score, confusion_matrix
confusion_matrix(ytest,ypred)

array([[955,   0],
       [ 16, 144]], dtype=int64)

In [32]:
from sklearn import metrics
print("accuracy",metrics.accuracy_score(ytest,ypred))

accuracy 0.9856502242152466